@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

th, td {
  padding-right: 8px; /* Espacio a la derecha de cada celda */
}

.table-container {
  max-height: 400px; /* Ajusta este valor según tus necesidades */
  overflow-y: auto;
}

.img-resize {
  width: 150px; 
  height: auto;
}

.flex-end-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-item {
  display: flex;
  justify-content: flex-end;
  width: 50%; 
}